body {
  margin: 0;
  overflow: hidden;
  background: #111;
  font-family: Verdana, sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

p {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font: 16px Verdana;
  color: #eee;
  text-align: center;
  text-shadow: 0 0 4px rgba(255,255,255,0.8);
  z-index: 10;
  white-space: nowrap;
}

p a {
  color: #ff79c6;
  text-decoration: none;
  ;
  font-weight: bold;
  font-size: 20px;
}

p span {
  font-size: 11px;
  color: #aaa;
  display: block;
  margin-top: 4px;
}
